/* TORDER COLORS: 
#fbfbf9; 
#544948; 
#2f2424; 
#f9f6ef; 
*****************/

body,
p {
  font-family: 'Source Sans Pro', sans-serif;
}

.sticky-nav {
  position: sticky;
  top: 0;
}

h1,
h2,
h3 {
  font-family: 'Source Serif Pro', sans-serif;
}

a {
  color: #820000;
}
a:hover {
  color: #000;
}

#global-footer .container {
  padding-bottom: 0;
}
.torder-jumbotron {
  margin-bottom: 0;
  margin-top: 6em;
  margin-bottom: 6em;
}

#torder-home-headline,
.torder-settings-btn:hover {
  color: #8c1515;
}

#torder-home-headline {
  font-family: 'Source Serif Pro', sans-serif;
  font-size: 1.5em;
  margin-bottom: 1em;

  text-align: center;
}

.torder-settings-btn,
.torder-settings-btn:hover {
  border: none;
}

.torder-settings-btn {
  background-color: rgba(0, 0, 0, 0);
}

.torder-home-main-container {
  background-color: #464c50;
}

.torder-docs-main-container {
  background-image: url('../src/assets/images/shattered.png');
  background-repeat: repeat;
}

.torder-my-torders-main-container {
  background-image: url('../src/assets/images/graphy.png');
  background-repeat: repeat;
  height: 100vh;
  min-height: 850px;
}

#torder-home-content {
  text-align: left;
}

#torder-home-content h1 {
  margin: 0;
  font-size: 4em;
  text-align: center;
}

#torder-home-content p {
  padding: 0 1em;
  margin-bottom: 1em;
}

.torder-home-bg-color {
  background-color: #f4f4f4;
}

#torder-mytorders-container {
  background-color: #f4f4f4bb;
  width: 1000px;
  padding: 2em;
  margin: 2em;
}

#torder-mytorders-table-container {
  max-height: 500px;
  overflow: auto;
  min-width: 600px;
  padding: 1em;
}

.torder-primary-btn {
  background-color: #343a40 !important;
  border: none;
  margin: 5px;
  color: #fff !important;
}

.torder-primary-btn:hover {
  background-color: #8c1515 !important;
  border: none;
  margin: 5px;
}

.torder-secondary-btn {
  background-color: #343a4000 !important;
  border: 1px solid #343a40;
  color: #343a40;
  margin: 5px;
}

.torder-secondary-btn:hover {
  border: 1px solid #343a40;
  color: #8c1515;
  margin: 5px;
}

#torder-learn-more,
#torder-compute {
  display: inline-block;
  vertical-align: top;
}

#torder-docs-container {
  margin-top: 4em;
  padding: 4rem;
  background-color: #f4f4f4;
  margin-bottom: 4em;
}

.torder-docs-section {
  padding-top: 55px;
}

#torder-glossary-content {
  overflow: scroll;
  max-height: 450px;
}

.list-group-item.active {
  background-color: #8c1515;
  border-color: black !important;
}

svg.svg-inline--fa.fa-question-circle.fa-w-16.torder-info-icon {
  padding: 4px;
  font-size: 20px;
}

.torder-panel {
  margin: 10px;
}
#torder-input-file-col {
  padding: 0;
}

#torder-sample-file-col {
  text-align: right;
}

.torder-link-active {
  color: #fff;
}

#torder-su-footer {
  background-color: #8c1515;
  padding: 3em 0;
}

#primary-links,
#policy-links,
#copywrite {
  list-style-type: none;
  margin-bottom: 0;
}

#primary-links li,
#policy-links li,
#copywrite li {
  float: left;
  padding: 0 1em;
}

#primary-links a:hover,
#policy-links a:hover,
#copywrite a:hover {
  text-decoration: none;
}

#primary-links a,
#policy-links a,
#copywrite li {
  color: #e3dfd5;
}

#torder-footer-sponsors {
  padding: 1em;
  /* height: 150px; */
}

#torder-footer-contact h4,
#torder-footer-contact p {
  color: #e3dfd5;
}

#torder-footer-contact p {
  margin: 0;
}

#torder-footer-contact a {
  color: rgba(255, 255, 255, 0.5);
}

#torder-footer-contact hr {
  border-top-color: #e3dfd5;
}
